<P>Please fill in the form and click the submit button.</P>
<p>If you meet the minimum threshold of a GPA of 2.5, your name will be listed in the Qualified Students page</p>

<form action="/users/submit"  method="post">
   <label for="name">Name</label>
     <input type="text" name="name">
     <br>
   <label for="grade">CSC 141</label>
     <input type="text" name="grade">
     <br>
   <label for="grade">CSC 142</label>
     <input type="text" name="grade">
     <br>
   <label for="grade">CSC 240</label>
     <input type="text" name="grade">
     <br>
   <label for="grade">CSC 241</label>
     <input type="text" name="grade">

   <input type="submit" value="Submit">
</form>

