<div class="container">
  <div class="col-sm-6">
    <img src="images/Transparent Wcu.png" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Qualified Students</h1>
    <p>The list below shows all students eligable for CSC internship:</p>
   
    <p> Note: All Students must have a GPA greater than 2.5</p>
  </div>
</div>
