
<main>
    <h2 style="color:whitesmoke"> Programming Gang</h2> </br> 
    <body style="background-color:#47196c;"></body>
    <div class="jumbotron">
        <h2>Welcome To the Internship Approval System</h5>
        <p>This system allows you to enter the students' names and 
            the letter grade (for the first 4 CSC classes) and will generate a partial GPA. the system will then notify you which
            students meet the requirements of the threshold GPA (2.5).
        </p>
        <p>Adding MongoDB using Mongoose for Modeling</p>
    </div>
</main>

