<div class="container">
  <div class="col-sm-6">
    <img src="images/WCURAM.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Welcome to the Internship Approval System!</h1>
    <p> This system allows you to enter the students' names and their respective letter grades(for the four intro CSC classes) and will generate a partial GPA. The system will then notify which
      students are above the threshold GPA of 2.5.</p>
    <p> If you would like to enter your grade, click <a href="/courseGrades">the Grade Input tab</a> to record your grade!</p>
    <p> To see if you are amongst the <a href="/contact">Qualified Students</a> Click the tab to see if you meet the requirements.</p>
  </div>
</div>
