<% var users = []; 
var i = 0;
var grades = [];
allUsers.forEach(user => {
    
    if(user.isValid){
        users[i] = user;
        i++;
    }
}) %>
<h1>Qualified Students</h1>
<p>If you meet the minimum requirements of a GPA of 2.5 your name will be listed below.</p>
<% users.forEach(user => {%> 
    <h5> <%= user.name %>  </h5>
    <h5> <%= user.grade %> </h5>

<% }) %>
